Repository Sadaqaty/DubCraft_Studio, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, core, docs, tests, modules, assets

Update requirements.txt
  requirements.txt
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update requirements.txt
  requirements.txt
Labels: none

Update requirements.txt
  requirements.txt
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update requirements.txt
  requirements.txt
Labels: none

WorkFlows
  core/__init__.py
  core/audio.py
  core/constants.py
  core/diarization.py
  core/subtitles.py
  core/transcription.py
  core/translation.py
  core/tts.py
  core/utils.py
  core/video.py
  main.py
  modules/__init__.py
  modules/autosave.py
  modules/dragdrop.py
  modules/logging.py
  modules/preview.py
  ui/file_upload.py
  ui/language_selector.py
  ui/loading_overlay.py
  ui/main_window.py
Labels: ui, core, modules

Delete .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: none

Update README.md
  README.md
Labels: docs

Create ci.yml
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

.github/labeler.yml:

ui:
  - 'ui/**'
core:
  - 'core/**'
docs:
  - '*.md'
  - 'docs/**'
tests:
  - 'tests/**'
modules:
  - 'modules/**'
assets:
  - 'assets/**'
